body {
    padding: 0;
    margin: 0;
}

#map {
    background-color: red;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

.kaart {
    position: absolute;
    /* background-color: blue; */
    width: 20vh;
    height: 30vh;
    border-radius: 10%;
    border: solid 2px;
    border-color: white;
}

.binnenKaart {
    height: 80%;
    width: 80%;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    border-radius: 20% 2% 20% 2%;
    font-size: 6em;


}

.kaartNr {
    font-family: 'Rammetto One', cursive;
    /* border */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}



.rood {
    color: red;
    background-color: red;
}

.blauw {
    color: blue;
    background-color: blue;
}

.groen {
    color: green;
    background-color: green;
}

.geel {
    color: yellow;
    background-color: yellow;
}

.ongekend{
    color: black;
    background-color: black;
}

.unoKaart{
     
    position: absolute; 
    width: 16vh;
    height: 24vh;
}